
// * ------ Home ------

.home {
  background-image: url('https://images.unsplash.com/photo-1532686255137-d9d0b396c5f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    min-width: 200px;
    min-height: 100px;
    border: 3px solid white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
  }
}


// * ------ Beers ------

.beer-list {
  // background-color: red;
  padding: 10% 20%; 

  .beer-row {
    display: flex;
    align-items: center;
    padding: 1.5%;
    margin: 1.5%;
    border: solid 3px grey;
    font-size: 22px;

    .beer-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 5%;
    }

    .beer-image {
      max-width: 200px;
      max-height: 200px;
    }
  }

  .add-beer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5%;
    // width: 200px;
    max-height: 200px;

    .button {
      width: 100%;
      font-size: 22px;
    }
  }
}


// * ------ New Beer ------

.new-beer, .login, .new-sale {
  padding: 10% 30%; 

  h1 {
    text-align: center;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;

    .button {
      width: 90%;
    }
  }
}


// * ------ Sales ------

.sales {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// * ------ Charts ------

.bar-chart {
  padding: 150px 200px 50px 200px;
}

.line-chart {
  padding: 50px 200px 150px 200px;
}
